@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-bold-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/clashdisplay-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-medium-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-regular-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-light-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "";
    src: url();
}

@theme {
    --font-clash: "Clash Display", "sans-serif";
    --font-inter: "Inter", "sans-serif";
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(3rem);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes infiniteGradient {
    from {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 50%;
    }
}


.slide-in {
    animation: slideIn ease-out 1000ms forwards;
}

.gradientText {
  display: inline-block;
  color: transparent;

  background: linear-gradient(
    90deg,
    #2563eb,   
    #4f46e5,   
    #7c3aed,   
    #06b6d4    
  );
  background-size: 500% 500%;

  background-clip: text;
  -webkit-background-clip: text;

  animation: infiniteGradient 10s ease infinite alternate;
}
