@import "tailwindcss";

@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-bold-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/clashdisplay-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-medium-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-regular-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-light-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@theme {
    --font-clash: "Clash Display", "sans-serif";
    --font-inter: "Inter", "sans-serif";
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(3rem);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes infiniteGradient {
    from {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 50%;
    }
}


.slide-in {
    animation: slideIn ease-out 1000ms forwards;
}

.gradientText {
  display: inline-block;
  color: transparent;

  background: linear-gradient(
    90deg,
    #2563eb,
    #4f46e5,
    #7c3aed,
    #a855f7,
    #06b6d4,
    #22d3ee,
    #3b82f6,
    #2563eb  
  );
  background-size: 500% 500%;

  background-clip: text;
  -webkit-background-clip: text;

  animation: infiniteGradient 15s ease infinite alternate;
}
