@import "tailwindcss";

@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-bold-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/clashdisplay-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-medium-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-regular-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Clash Display";
    src: url("./assets/fonts/clashdisplay-light-webfont.woff2") format("woff2"),
         url("./assets/fonts/clashdisplay-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-clash: "Clash Display", "sans-serif";
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(3rem);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}


.slide-in {
    animation: slideIn ease-out 1000ms forwards;
}